<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667327318779-q8ldcesplfts6etan29id6cfqugko5tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667327318779-q8ldcesplfts6etan29id6cfqugko5tk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>667327318779-1df0tca6a31k7h367uvhn2sfmka84vas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgGmP9X5dWA_YfyIzM089h8rrMt_0yS30</string>
	<key>GCM_SENDER_ID</key>
	<string>667327318779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pludin</string>
	<key>PROJECT_ID</key>
	<string>official-console</string>
	<key>STORAGE_BUCKET</key>
	<string>official-console.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667327318779:ios:7bf7df1859e8c9f5907e5e</string>
	<key>DATABASE_URL</key>
	<string>https://official-console-default-rtdb.firebaseio.com</string>
</dict>
</plist>